### Public Blob 내 csv 파일 processing

In [2]:
import pandas as pd

url = 'https://flightblobsample.blob.core.windows.net/container1/Lab01_flights.csv'
df = spark.createDataFrame(pd.read_csv(url, header = None))

In [3]:
display(df.head(5))

In [4]:
flightDF = df.toDF('Month', 'DayofMonth', 'DayofWeek', 'DepTime', 'ArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted')

flightDF.registerTempTable("flightTable")

In [5]:
display(flightDF.head(5))

In [6]:
from pyspark.sql.types import *

####<분석 요건> 운항 편수 Top 10 항공사 조회
##### 1) sqlContext를 이용한 쿼리 수행

In [8]:
# 1 sqlContext를 이용하여 쿼리 수행
resultDF = sqlContext.sql("SELECT UniqueCarrier, count(UniqueCarrier) as cnt \
                        FROM flightTable \
                        GROUP BY UniqueCarrier \
                        ORDER BY cnt DESC")
resultDF.collect()

##### 2) sql magic을 사용한 쿼리 수행

In [10]:
%sql
SELECT UniqueCarrier, count(UniqueCarrier) as cnt 
FROM flightTable
GROUP BY UniqueCarrier
ORDER BY cnt DESC